{% extends 'base.html' %}

{% block head_title %}Items{% endblock %}
{% block content %}
{% load humanize %}

<div class="container-fluid mt-2">
    <div class="jumbotron">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for project in projects %}
            {% include 'projects/parts/all_projects.html' %}
            {% empty %}
            <p class="lead">There are no items on sale.</p>
            {% endfor %}
        </div>
        {% include 'snippets/projects_pagination.html' %}
    </div>
</div>

{% endblock content %}
