{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Logout" %}{% endblock %}

{% block content %}

<div class="container col-lg-8 mb-2 mt-2">
    <h5 class="pb-2 mb-2 border-bottom">{% trans "Logout" %}</h5>

    <p>{% trans 'Are you sure you want to logout?' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <button class="btn btn-sm btn-primary" type="submit">{% trans 'Logout' %}</button>
    </form>
</div>

{% endblock %}
