{% extends "base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container col-lg-8 mb-2 mt-2">
    <h5 class="pb-2 mb-2 border-bottom">{% trans "Change Password" %}</h5>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button class="btn btn-sm btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
</div>
{% endblock %}
