<!--Pagination-->
<nav class="d-flex justify-content-center wow fadeIn mt-3">
    <ul class="pagination pagination-sm pg-blue">

        <!--Arrow left-->
        {% if projects.has_previous%}
        <li class="page-item">
            <a class="page-link" href="?page={{projects.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        {% endif %}

        <li class="page-item active">
            <a class="page-link" href="?page={{ projects.number }}">{{ projects.number }}
                <span class="sr-only">(current)</span>
            </a>
        </li>
        {% if projects.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{projects.next_page_number}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>