nav {
    font-family: "Times New Roman", Times, serif;
    font-size: 12 px;
    }
div {
    font-family: "Times New Roman", Times, serif;
    font-size: 12 px;
    }
div a{
    text-decoration: None;
    }