{% extends 'base.html' %}


{% block content %}
{% load bootstrap4 %}
{% load humanize %}

<title>{% block head_title %}Cart summary{% endblock head_title %}</title>

<div class="container-fluid mt-2 col-lg-9">
<div class="table-responsive text-nowrap">
    <h5 class="order text-info text-center display-4">Cart Summary</h5>

  <table class="table table-bordered">
    <thead>
      <tr class="text-center table-primary">
        <th scope="col">S/N</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Total</th>
      </tr>
    </thead>
    <tbody>

    {% for order_item in order.items.all %}
      <tr class="text-center">
        <td scope="row">{{forloop.counter}}</td>
        <td><img style="height: 30px;" src="{{order_item.item.image.url}}" alt=""></td>
        <td>{{order_item.item.title}}</td>
        <td>
            {% if order_item.item.discount_price %}
            ksh. {{order_item.item.discount_price|intcomma}}
            {% else %}
            Ksh. {{order_item.item.price|intcomma}}
            {% endif %}
        </td>
        <td>
            <a class="btn btn-sm btn-secondary mr-2" href="{% url 'item:decrease-quantity' order_item.item.id %}">
               -
            </a>
            {{order_item.quantity}}
            <a class="btn btn-sm btn-secondary ml-2" href="{% url 'item:increase-quantity' order_item.item.id %}">
                +
            </a>
        </td>
        <td>
            {% if order_item.item.discount_price %}
            Ksh.{{order_item.get_total_discount_item_price|intcomma}}
            {% else %}
            Ksh.{{order_item.get_total_item_price|intcomma}}
            {% endif %}
            <a style="color: red;" href="{% url 'item:remove-from-cart-summary' order_item.item.id %}">
                <i class="far fa-trash-alt float-right"></i>
            </a>
        </td>
      </tr>

    {% empty %}
    <tr>
        <td colspan="6">Your cart is empty</td>
    </tr>
     <td colspan="6">
        <a class="btn btn-outline-info border rounded  col-lg-3 float-right ml-2" href="{% url 'item:all-items' %}">Shop now</a>
    </td>
    {% endfor %}

    {% if object.coupon %}
    <tr class="">
    <td colspan="5"><b>Coupon</b></td>
    <td class="text-center"><b>(Ksh. {{object.coupon.amount|intcomma}})</b></td>
    </tr>
    {% endif %}
    {% if order.get_total %}
<tr class="">
    <td colspan="5"><b>Order Total</b></td>
    <td class="text-center"><b>Ksh. {{order.get_total|intcomma}}</b></td>
</tr>
    <tr>
        <td colspan="6">
        <div class="btm pb-4">
        <a class="btn btn-outline-info border rounded  col-lg-3 float-right ml-2 mr-2" href="/">Proceed to Checkout</a>
        <a class="btn btn-outline-info border rounded  col-lg-3 float-right ml-2 mr-2" href="/">Continue shopping</a>
        <br/>
    </div>
    </td>
    </tr>

    {% endif %}

    </tbody>
  </table>

</div>
</div>


{% endblock content %}